.whole-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.whole-page h1 {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #ffdc00;
  margin-bottom: 5px;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  margin-bottom: 10px;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-content h1 {
  border-bottom: thick solid #ffdc00;
  margin-bottom: 5px;
  font-weight: bolder;
}

.modal-content p {
  margin-top: 5px;
  line-height:22px;
}
