.whole-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-content h1 {
  border-bottom: thick solid #ffdc00;
  margin-bottom: 5px;
  font-weight: bolder;
}

.modal-content p {
  margin-top: 5px;
  line-height:22px;
}
