.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.job-info h1 {
  font-weight: bold;
}

.badge {
  height: 50px;
  width: 50px;
}

.badge-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
